*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    display: flex;
    align-items: center;
    background-color: #9d209d;
    height: 50px;
    width: 100%;
}

nav {
    flex: 2;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: rgb(250, 244, 244);
}

p {
    color: #555;
}

.logo img {
  width: 100px;

}.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}



/* .slideshow-container {
    position: relative;
    margin: auto;
    width: 100%;
  }

  .mySlides {
    display: none;
  
    
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } */

  #items-wrapper {
    width: 100vw; 
  }

  #items {
    display: flex;

    overflow-x:auto ;
    scroll-snap-type: x mandatory;

    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }

  .item {
    flex: none;
    width: 100%;
    height: 400px;

    scroll-snap-align: start;

    pointer-events: none;
  }

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

.container {
    width: 100%;
    margin: 0;
    /* padding-left: 25px;
    padding-right: 25px; */
}

.categorias {
    margin: 30px 0 50px;
    background-color: aqua;
    
}

.row {
    display: flex;
    justify-content: space-between;
    
    
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin: 30px 30px 30px;
    
}

.col-3 img {
    width: 300px;
    height: 100px;
    
}